@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto&display=swap");
$color1: #ffb838;
$color2: #fee5a5;
$color3: #f7f6ee;
$color4: #486d87;
$color5: #789db7;

.user-profile-wrapper {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  width: 100%;
  cursor: pointer;
  display: block;
  color: $color4;
  text-decoration: none;
  .user-profile-photo-wrapper {
    float: left;
    width: 60px;
    border-radius: 50%;
    .user-profile-photo {
      width: 100%;
      border: 2px solid $color1;
      border-radius: 50%;
    }
  }
  .user-profile-info-wrapper {
    float: left;
    width: 120px;
    color: $color4;
    text-decoration: none;
    text-align: left;
    box-sizing: border-box;
    padding: 10px 10px;
    font-size: 12px;
    .user-profile-info-text {
      font-size: 16px;
      text-decoration: none;
      color: $color4;
      font-weight: bold;
    }
  }
}
.user-profile-wrapper::after {
  content: "";
  display: block;
  clear: both;
}
