@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto&display=swap");
$color1: #ffb838;
$color2: #fee5a5;
$color3: #f7f6ee;
$color4: #486d87;
$color5: #789db7;

.header-wrapper {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  position: fixed;
  z-index: 999;
  width: 1024px;
  height: 70px;
  background: $color3;
  .hamburg-btn-wrapper {
    float: left;
    width: 25px;
    margin: 25px 0 0 40px;
    .hamburg-btn {
      width: 100%;
      cursor: pointer;
    }
  }
  .logo-wrapper {
    float: left;
    margin: 20px 0 0 50px;
    .header-logo {
      color: $color4;
      font-size: 30px;
      margin: 0;
      letter-spacing: 1px;
    }
  }
  .logout {
    width: 100px;
    text-align: center;
    color: $color3;
    background: $color5;
    border-radius: 5px;
    padding: 5px 0;
    float: right;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
    a {
      text-decoration: none;
      color: $color3;
    }
  }
  .logout:hover {
    color: $color1;
    background: $color4;
  }
}
.header-wrapper::after {
  content: "";
  display: block;
  clear: both;
}
